<div class="flex justify-between p-4">
  <img src="/img/incoming.svg" class="h-16 w-16"> 
  <ul class="list-reset flex-1 px-4">
    {{#each model.incoming as |link|}}
      <li>{{link-to link.from 'page' link.from}}</li>
    {{/each}}
  </ul>
  <ul class="list-reset flex-1 px-4 text-right">
    {{#each model.outgoing as |link|}}
      <li>{{link-to link.to 'page' link.to}}</li>
    {{/each}}
  </ul>
  <img src="/img/outgoing.svg" class="h-16 w-16"> 
</div>
<PageForm @page={{model.page}} @save={{bind this.save}} />
